* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
}

#side-header {
  background-color: coral;
  background-image: url("img/jumbo.png");
  background-size: cover;
  height: 400px;
}

.container {
  margin: auto;
  width: 1100px;
}

.logo,
.accedi {
  width: 15%;
  height: 50px;
  float: left;
  margin-top: 10px;
  vertical-align: middle;
}

.button-login {
  background-color: white;
  color: black;
  border-radius: 17px;
  padding: 8px 17px;
}

.menu {
  width: 70%;
  height: 50px;
  float: left;
  text-align: center;
  padding: 7px 0;
}

nav li {
  display: inline-block;
  margin: 2px 12px;
}

nav li a {
  color: white;
  font-size: 15px;
  text-decoration: none;
}

ul {
  list-style: none;
  color: white;
}

#jumbo {
  width: 514px;
  color: white;
  position: absolute;
  top: 35%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

#jumbo p {
  font-size: 14px;
  line-height: 22px;
}

h1 {
  font-size: 40px;
  margin-bottom: 30px;
}
.button {
  padding: 8px 20px;
  margin: 10px 11px;
  border-radius: 20px;
  text-decoration: none;
}
.white {
  background-color: white;
  color: black;
}

.black {
  background-color: black;
  color: white;
}

.jumbo-buttons {
  margin-top: 22px;
  font-size: 14px;
}

.jumbo-buttons a {
  padding: 12px 20px;
  margin: 0 10px;
}
.clearfix {
  content: "";
  display: table;
  clear: both;
}

#side-main {
  height: 1900px;
}

.section-container {
  margin: auto;
  width: 1100px;
}

.section-white {
  background-color: white;
}

.small-section .section-container .section-text {
  width: 18%;
  height: 311px;
  float: right;
  margin: 44px 160px;
}

.small-section .section-container img {
  width: 450px;
  margin: 23px 66px;
  display: inline-block;
}
.small-section.section-white .section-container img,
.small-section.section-gray .section-container .section-text {
  float: left;
}

.small-section.section-white .section-container .section-text,
.small-section.section-gray .section-container img {
  float: right;
}

.big-section .section-container .section-text {
  width: 63%;
  height: 30px;
  margin: 8px auto;
  text-align: center;
}

.big-section .section-container img {
  width: 450px;
  margin: 3rem 21rem;
}

.section-text h2 {
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 20px;
  line-height: 33px;
}

.section-text p {
  font-size: 14px;
  line-height: 21px;
}

.last-download {
  text-align: center;
  margin: auto;
}

.light-blue {
  background-color: rgb(157, 156, 231);
  color: white;
  text-decoration: none;
  padding: 9px 40px;
  border-radius: 15px;
  line-height: 5;
}

#side-footer {
  background-color: rgb(65, 54, 54);
  height: 400px;
}
